<section class="flex-container">
    <div class="column">
        <h2>testpppppukhkhkhhg</h2>
        <p>hi</p>
    </div>
    <div class="column">
        <div class="row">
            <h2>Main Contennnnnlnmt</h2>
            <p>hi</p>
        </div>
        <div class="row">
            <h2>Main Content</h2>
            <p>hi</p>
        </div>
        <div class="row">
            <h2>Main Content</h2>
            <p>hi</p>
        </div>
    </div>
</section>