<div id="wrapper">
    <header>
        <h1>Global World Norwich Yoga Studio</h1>
        <nav>
                <i id="hamburger" class="fa-solid fa-bars"></i>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/classes">Classes</a></li>
                <li><a href="/schedule">Schedule</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
</div>