<nav>
    <i id="hamburger" class="fa-solid fa-bars"></i>
    <label class="brand unselectable"><a href="/">UN DEV GOALS</a></label>

    <ul id="nav-elements" class="unselectable">
        <li><a href="/">Home</a></li>
        <li><a href="/schedule">Schedule</a></li>
    </ul>
</nav>