<nav>
    <ul id="nav-elements" class="unselectable">
        <div class="nav-left">
            <i id="hamburger" class="fa-solid fa-bars"></i>
            <label class="brand unselectable"><a href="/">UN DEV GOALS</a></label>
        </div>
        <div class="nav-central">
            <li class="nav-item">
                <a class="nav-link <%= currentPath === '/' ? 'active' : '' %>" href="/">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= currentPath === '/the-team' ? 'active' : '' %>" href="/the-team">The Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= currentPath === '/goals' ? 'active' : '' %>" href="/goals">Goals</a>
            </li>
        </div>
        <div class="nav-right">
            <li class="nav-item far-right">
                <a class="nav-link far-right <%= currentPath === '/auth/sign-in' ? 'active' : '' %>" href="/auth/sign-in">Sign in</a>
            </li>
        </div>
    </ul>
</nav>