<nav>
    <i id="hamburger" class="fa-solid fa-bars"></i>
    <label class="brand unselectable"><a href="/">UN DEV GOALS</a></label>

    <ul id="nav-elements" class="unselectable">
        <li class="nav-item">
            <a class="nav-link <%= currentPath === '/' ? 'active' : '' %>" href="/">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= currentPath === '/the-team' ? 'active' : '' %>" href="/the-team">The Team</a>
        </li>
    </ul>
</nav>