@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Funnel Sans", sans-serif;
  color: black;
  background-color: #eff7f6;
}

header{
  color: black;
  text-align: center;
  background-color: #F7F7F7;
  position: relative;
  display: block;
}

nav ul{
  display: flex;
  background-color: #d81e5b;
  align-items: center;
  justify-content: center;
}
nav ul li{
  display: inline;
  display: flex;
}
nav ul li a{
  color: white;
  text-decoration: none;
  padding: 3px 8px 3px 8px;
}
nav ul li a:hover{
  color: wheat;
   background-color: #b4184c;
}

article ul li{
  margin-left: 20px;
}

main{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20%;
  margin-right: 20%;
  padding: 16px;
  border: 2px solid #a6a0ba;
  border-radius: 20px;
}
section{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e4d8c5;
  padding: 20px 0px;
  overflow: hidden;
}
.services{
  float: left;
  width: 47%;
  height: 400px;
  background-color: white;
  padding-left: 11px;
  padding-right: 11px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: 15px;
  border-radius: 20px;
  box-sizing: border-box;
}
.services img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.btn{
  all: unset;
  text-decoration: none;
  background-color: #d81e5b;
  color: white;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700px;
  font-size: 16px;
  border: 2px solid #b8195a;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}
p:has(.btn){ 
  text-align: center;
}
footer{
  background-color: #a59c96;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 16px;
  margin-top: 32px;
}
footer a{
  color: black;
}
footer a:hover{
  color: white;
}
.fa-solid.fa-bars{
  visibility: hidden;
}
form{
  display: flex;
}
input[type="text"], textarea {
  width: 95%;
  padding: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  resize: vertical;
  border-color: dodgerblue;
  border-radius: 5px;
  font-size: medium;
  word-spacing: 4px;
  display: block;
}
label{
  display: block;
  width: 100%;
  margin: 1%;
}
fieldset{
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
  border: 3px solid #a6a0ba;
  border-radius: 5px;
}
input[type="submit"]{
  background-color: #d81e5b;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  font-size: 16px;
  border: 2px solid #b8195a;
  min-width: 150px;
  border-radius: 10px;
}
@media only screen and (max-width:786px){
  header{
    height: 18vh;
  }
  header h1{
    line-height: 50%;
    display: inline-block;
  }
  nav ul{
    display: block;
    visibility: hidden;
  }
  nav i:hover{
    background-color: #b4184c;
  }
  nav ul li{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #wrapper{
    position: relative;
  }
  nav{
    position: absolute;
    right: 10px;
    top:20px;
  }
  .fa-solid.fa-bars{
    visibility: visible;
  }
  .services{
    width: 92%;
    background-color: white;
    padding: 24px 11px;
    margin: auto auto 20px 15px;
    border-radius: 20px;
    box-sizing: border-box;
  }
  main{
    margin-left: 10%;
    margin-right: 10%;
  }
}
.date{
  color:dodgerblue;
}
.newpara{
  color: dodgerblue;
}
.newList{
  color: red;
}
.shownav{
  visibility: visible;
}