@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --text-colour: #49454f;
  --text-colour-black: black;
  --text-colour-hover: #56515c;
  --main-background-colour: #fef7ff;
  --sub-background-colour: white;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --box-shadow-large: rgba(0, 0, 0, 0.2);
  --nav-background: #e7f7e7;
  --nav-capsule-background: #caff85;
  --nav-capsule-background-hover: #b1df74;
  --footer-background: #c3c3c3;
}
body{
  font-family: "Funnel Sans", sans-serif;
  color: var(--text-colour);
  background-color: var(--main-background-colour);
}

h1, h2{
  display: block;
}

h1{
  font-size: 2.5em;
  font-weight: 700;
  color: var(--text-colour);
  text-align: center;
  margin: 20px 0px 20px 0px;
}

h2{
  font-size: 2em;
  font-weight: 600;
  color: var(--text-colour);
  text-align: center;
  margin: 15px 0px 15px 0px;
}

h3{
  font-size: 1.5em;
  font-weight: 500;
  color: var(--text-colour);
  text-align: center;
  margin: 10px 0px 10px 0px;
  display: inline-block;
}

.goal-images{
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.goal-inner{
  background-color: var(--sub-background-colour);
  border-radius: 16px;
  box-shadow: 0 4px 8px var(--box-shadow);
  padding: 20px;
  text-align: center;
  width: 250px;
  transition: 0.3s;
  cursor: pointer;
  }
  
.goal:hover {
  box-shadow: 0 8px 16px var(--box-shadow-large);
  transform: translateY(-5px);
  transition: 0.3s;
}

.goal:hover h3,
.goal:hover img {
  transform: translateY(0);
}

#goals-section{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0px 20px 0px;
  padding: 20px;
}

nav{
  position: relative;
  width: 100%;
  padding: 20px;
  background-color: var(--nav-background);
  z-index: 999;
}
#nav-elements{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}
#nav-menu-container{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  
}
.nav-left{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}
.nav-right{
  display: grid;
  grid-auto-flow: column;

}
nav ul li{
  margin: 0px 5px 0px 5px;
  display: inline;
}
nav ul li a{
  padding: 10px 20px 10px 20px;
  justify-content: center;
  align-items: center;
  color: var(--text-colour);
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}
nav ul li a:hover{
  color: var(--text-colour-hover);
  background-color: var(--nav-capsule-background);
  border-radius: 32px;
}
.nav-link.active{
  color: var(--text-colour);
  background-color: var(--nav-capsule-background);
  border-radius: 32px;
  text-decoration: underline;
}
.nav-link.active:hover{
  background-color: var(--nav-capsule-background-hover);
}
nav label.brand a{
  text-decoration: none;
  list-style: none;
  color: var(--text-colour);
  font-weight: 700;
  font-size: 20px;
}
footer{
  bottom: 0;
  padding: 16px;
  position: fixed;
  width: 100%;
  background-color: var(--footer-background);
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-colour-black);
}
.unselectable{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.fa-solid.fa-bars{
  display: none;
}
@media only screen and (max-width:786px){
  nav{
    padding: 0px;
  }
  nav ul{
    top: 100%;
    left: 0;
    width: 100%;          
    background-color: var(--nav-background);
    z-index: 999;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 15px;
  }
  nav ul li{
    display: block;
    margin: 5px 0;
  }
  nav ul li a{
    justify-content: center;
    display: flex;
  }
  .fa-solid.fa-bars{
    cursor: pointer;
    position: absolute;
    display: inline-block;
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    right: 20px;
  }
  .fa-solid.fa-bars:hover{
    transition: 0.2s;
    background-color: var(--nav-capsule-background);
    border-radius: 20px;
  }
  #nav-elements{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    justify-content: center;
  }
  #nav-menu-container{
    display: none; 
    flex-direction: column;
    text-align: center;
  }
  #nav-menu-container.active{
    display: flex;
  }
  .nav-central, .nav-right{
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
}