@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Funnel Sans", sans-serif;
  color: black;
  background-color: #eff7f6;
}
header{
  color: black;
  text-align: center;
  background-color: #F7F7F7;
  position: relative;
  display: block;
}

nav ul{
  display: flex;
  background-color: #d81e5b;
  align-items: center;
  justify-content: center;
}
nav ul li{
  display: inline;
  display: flex;
}
nav ul li a{
  color: white;
  text-decoration: none;
  padding: 3px 8px 3px 8px;
}
nav ul li a:hover{
  color: wheat;
   background-color: #b4184c;
}

footer{
  background-color: #a59c96;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 16px;
}
footer a{
  color: black;
}

.fa-solid.fa-bars{
  visibility: hidden;
}
@media only screen and (max-width:786px){
  nav ul{
    display: block;
    visibility: hidden;
  }
  nav i:hover{
    background-color: #b4184c;
  }
  nav ul li{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #wrapper{
    position: relative;
  }
  nav{
    position: absolute;
    right: 10px;
    top:20px;
  }
  .fa-solid.fa-bars{
    visibility: visible;
  }
}
.shownav{
  visibility: visible;
}