@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2{
  display: block;
}

h1{
  font-size: 2.5em;
  font-weight: 700;
  color: #49454f;
  text-align: center;
  margin: 20px 0px 20px 0px;
}

h2{
  font-size: 2em;
  font-weight: 600;
  color: #49454f;
  text-align: center;
  margin: 15px 0px 15px 0px;
}

h3{
  font-size: 1.5em;
  font-weight: 500;
  color: #252427;
  text-align: center;
  margin: 10px 0px 10px 0px;
  display: inline-block;
}

.goal-images{
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.goal-inner{
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 250px;
  transition: 0.3s;
  cursor: pointer;
  }
  
.goal:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: 0.3s;
}

.goal:hover h3,
.goal:hover img {
  transform: translateY(0);
}

#goals-section{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0px 20px 0px;
  padding: 20px;
}

body{
  font-family: "Funnel Sans", sans-serif;
  color: black;
  background-color: #fef7ff;
}
nav{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  background-color: #e7f7e7;
  z-index: 999;
}
#nav-elements{
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
}
nav ul li{
  margin: 0px 5px 0px 5px;
  display: inline;
}
nav ul li a{
  padding: 10px 20px 10px 20px;
  justify-content: center;
  align-items: center;
  color: #49454f;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}
nav ul li a:hover{
  color: #49454f;
  background-color: #caff85;
  border-radius: 32px;
}
.nav-link.active{
  color: #49454f;
  background-color: #caff85;
  border-radius: 32px;
  text-decoration: underline;
}
.nav-link.active:hover{
  background-color: #b1df74;
}
nav label.brand{
  text-align: left;
}
nav label.brand a{
  text-decoration: none;
  list-style: none;
  color: #49454f;
  font-weight: 700;
  font-size: 20px;
}
footer{
  bottom: 0;
  padding: 16px;
  position: absolute;
  width: 100%;
  background-color: #a59c96;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
footer a{
  color: black;
}
.unselectable{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.fa-solid.fa-bars{
  display: none;
}
@media only screen and (max-width:786px){
  nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
  nav ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;           /* Spans the full width */
    background-color: #e7f7e7; /* Must add background or it will be transparent */
    z-index: 999;          /* Ensures it covers the content below */
    flex-direction: column; /* OPTIONAL: Stacks links vertically on mobile */
    padding-bottom: 20px;
    padding-top: 15px;
  }
  nav ul li{
    display: block;
    margin: 5px 0;
  }
  nav ul li a{
    justify-content: center;
    display: flex;
  }
  .fa-solid.fa-bars{
    cursor: pointer;
    position: absolute;
    display: inline-block;
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 20px;
  }
  .fa-solid.fa-bars:hover{
    transition: 0.2s;
    background-color: #caff85;
    border-radius: 20px;
  }
  .nav-main{
    display: none;
  }
  #nav-elements{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
.shownav{
  display: flex;
}