<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
    <body>
        <main>
            <div id="content-wrap">
                <%- include('partials/nav'); %>
                <h1 id="water-title" class="water-h1"></h1>
                <h2 id="water-subtitle" class="water-h2"></h2>
            
                <section id="water-section"></section>
            
                <%- include('partials/footer'); %>
            </div>
        </main>
    </body>
</html>