<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
    <body>
        <main>
        <%- include('partials/nav'); %>
        <h1 id="water-title" class="water-h1"></h1>
        <h2 id="water-subtitle" class="water-h2"></h2>
        
        <div class="back-button-container">
            <button class="back-button" onclick="history.back()">&#8592; Back</button>
        </div>
    
        <section id="water-section"></section>

        <%- include('partials/footer'); %>
        </main>

    </body>
</html>