<!DOCTYPE html>
  <html>
    <head>
        <title>Global World Norwich Yoga Studio (GWNYS): Schedule</title>
        <%- include('partials/headmeta.ejs'); %>
    </head>
    <body>
        <%- include('partials/nav.ejs'); %>
        <main>
            <h1>Goals</h3>
            <section>
                <h2>Our Development Goals</h4>
                <h3>Clean Water and sanitation</h3>
                <p></p>
                <h3>Climate Action</h3>
                <p></p>
                <h3>Affordable and Clean energy</h3>
            </section>
        </main>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>