<!DOCTYPE html>
  <html>
    <head>
        <title>Global World Norwich Yoga Studio (GWNYS): Schedule</title>
        <%- include('partials/headmeta.ejs'); %>
    </head>
    <body>
        <%- include('partials/nav.ejs'); %>
        <main>
            <h1>Goals</h1>
            <h2>Our Development Goals</h2>
            <section id="goals-section">
                <div class="goal">
                    <div class ="goal-inner">
                        <h3>Clean Water and Sanitation</h3>
                        <img src="../public/assets/clean_water.png" alt="clean water">
                    </div>
                </div>

                <div class="goal">
                    <div class="goal-inner">
                        <h3>Climate Action</h3>
                        <img src="../public/assets/climate_action.png" alt="climate action">
                    </div>
                </div>

                <div class="goal">
                    <div class="goal-inner">
                        <h3>Affordable and Clean Energy</h3>
                        <img src="../public/assets/clean_energy.png" alt="clean energy">
                    </div>
                </div>
            </section>
        </main>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>