<!DOCTYPE html>
  <html lang="en">
    <head>
        <title>UN Goals</title>
        <%- include('partials/headmeta.ejs'); %>
    </head>
    <body>
        <%- include('partials/nav.ejs'); %>
        <main class="index-content">
            <%- include('partials/main-page-template.ejs'); %>
        </main>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>