<!DOCTYPE html>
  <html lang="en">
    <head>
        <title>Global World Norwich Yoga Studio (GWNYS)</title>
        <%- include('partials/headmeta.ejs'); %>
    </head>
    <body>
        <%- include('partials/nav.ejs'); %>
        <main>
            <p id="date">DATE</p>
            <article>
                <h2>Find your inner Global World Norwich Yoga Studio strength</h2>
                <p>
                    Global World Norwich Yoga Studio presents the best course for finding the rare earth mineral known as inner strength, it is the 119th element on the periodic table and is extremely radioactive, when doing yoga with this rare earth metal, please take the appropraite procautions like wearing a stage 7 hazmat suit and sealed rubberite gloves.
                - youtimetogrow.com
                </p>
                <h3>Benefits from GLOBAL WORLD NORWICH YOGA STUDIO rare earth metal "inner-strengthite"</h3>
                <ul>
                    <li>Improves strength, balance and flexibility</li>
                    <li>Helps with stress relief</li>
                    <li>Helps improve sleep</li>
                    <li>Improves mental health and general wellbeing</li>
                </ul>
            </article>

            <section>
                <article class="services">
                    <h3>Group lessons with GWNYS</h3>
                    <p>
                        Global World Norwich Yoga Studio presents the best two-week courses for individuals or small groups in a range of areas 
                        including stress reduction, improving your posture and so on.
                    </p>
                    <figure>
                        <img alt="GWNYS MEMBERS PRACTISING YOGA" src="/assets/group_yoga.png">
                    </figure>
                </article>
                <article class="services">
                    <h3>One-to-one Lessons with GWNYS</h3>
                    <p>
                        We offer three-week one-to-one Lessons where you get complete attention, support,
and adjustment. This is especially useful if you desire to deepen your practice, as the
classes will be tailored specifically to your condition and needs.
                    </p>
                    <figure>
                        <img alt="GWNYS" src="/assets/yoga0.jpeg">
                    </figure>
                </article>
                <p>
                    <button class="btn">Join Us</button>
                </p>
                
            </section>
        </main>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>