<!DOCTYPE html>
  <html lang="en">
    <head>
        <title>UN Goals</title>
        <%- include('partials/headmeta.ejs'); %>
    </head>
    <body>
        <%- include('partials/nav.ejs'); %>
        <main>
           
        </main>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>