<!DOCTYPE html>
  <html>
    <head>
        <title>Global World Norwich Yoga Studio (GWNYS): Schedule</title>
        <%- include('partials/headmeta.ejs'); %>
    </head>
    <body>
        <%- include('partials/nav.ejs'); %>
        <main>
            <h3>Norwich Yoga Studio Daily Schedule</h3>
            <section id="schedule">
            </section>
        </main>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>