<!DOCTYPE html>
  <html>
    <head>
        <title>Sign Up</title>
        <%- include('partials/headmeta.ejs'); %>
    </head>
    <body>
        <%- include('partials/nav.ejs'); %>
        <main>
        </main>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>