<!DOCTYPE html>
  <html>
    <head>
        <title>Sign Out</title>
        <%- include('partials/headmeta.ejs'); %>
    </head>
    <body>
        <%- include('partials/nav.ejs'); %>
        <main>
            <h3>SIGN OUT</h3>
        </main>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>