<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); %>
<body>
    <main>
        <div id="content-wrap">
            <%- include('partials/nav'); %>
            <h2 class="team-title"><%= teamHeader %></h2>
            <section id="team-section">
            </section>
            <%- include('partials/footer'); %>
        </div>
    </main>
</body>
</html>