<!DOCTYPE html>
  <html>
    <head>
        <title>The Team</title>
        <%- include('partials/headmeta.ejs'); %>
    </head>
    <body>
        <%- include('partials/nav.ejs'); %>
        <main>
            <h2 id="team-title">Meet the Team</h2>
            <section id="team-section"></section>
        </main>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>